html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body { 
    margin: 0;
    overflow: hidden;
  }

  .frame { 
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #C44;
  }

  .frame>* {
    flex: 1 1 0%;
  }

  #editor {
    flex: 0 1 300px;
    font-family: monospace;
    padding: .5em;
    background: #444;
    color: white;
    height: 100%;
  }
  #vidElement {
    width: 100%;
  }
  canvas { 
    width: 100%;
    height: 100%;
  }