
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;400;700&display=swap');


:root
{
    --logo-height: 70px;
    --blue: #B2DBE7;
    --pink: #FDCDCA;
    --orange: #F9996A;
    --yellow: #FEE881;
    --sand: rgb(255, 255, 255);
    --sandText: rgba(238, 232, 217,1);
}

html, body
{
    /*overflow-y: scroll;*/
    overflow-x: hidden;
    background-color: #2b2b2b;
    background-position: center;
    /*
    background-image: linear-gradient(rgba(128,132,138,.97), rgba(98, 101, 105, 0.959), rgba(0,0,0,.97), rgb(0,0,0,1))
    ,url("logo/tile.png");;
    */
    /*
    background-image: 
    linear-gradient(rgba(247, 148, 148, 0.9),rgba(89, 170, 190, 0.9),rgba(29, 55, 61, 0.9),rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95), rgba(9, 19, 63, 0.95)), 
    url("logo/tile.png");
    */
}

body
{
    font-family: 'Open Sans';
    font-weight: 200;
    margin: 1em auto;
    max-width: min(95%, 800px);
}

h1, h2, h3, h4, strong
{
    font-family: 'Open Sans';
    font-weight: 700;
    padding:0;
    margin:0;
}

h1
{
    font-size: 2.2rem;
    line-height: 100%;
}

h2
{
    font-size: 1.5rem;
}

h3
{
    font-size: 1.2rem;
}

h4
{
    font-size: 1em;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

section
{
    font-size: 1.2rem;
    background-color:var(--sand);
    padding: 0;
    margin-bottom: 1em;
    overflow-y: hidden;
    position: relative;
    /*overscroll-behavior: contain;*/
}

small {
    margin:0;
    padding:0;
    font-size: 0.8rem;
}

.inset
{
    padding: 2em
}



.alignholder
{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
}

.rightbox
{
    display: flex;
    align-items: center;

    position: absolute;
    width:350px;
    
    right:0;
    top: 0;
    bottom:0;
    
    font-size: 1rem;
}

.rightbox div
{
    position: relative;
    margin: auto 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2em;
}

.leftbox
{
    display: flex;
    align-items: center;

    position: absolute;
    width:450px;
    
    left:0;
    top: 0;
    bottom:0;
    
    font-size: 1rem;
}

.leftbox div
{
    position: relative;
    margin: auto 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding:2em;
}

.alignholder .bgleft
{
    top:0;
    min-width: 300px;
    width:55%;
}

.alignholder .bgright
{
    display: block;
    min-width: 300px;
    width:55%;

    margin-left: auto;
}


li
{
    margin-bottom: 1em;
}

.secdark
{
    color:white;
    background-color: rgb(22,22,22);
}


strong
{
    font-size: 1.4em;
}

#topDiv
{
    gap: 0.4rem;
    display: flex;
}

#topLeftDiv
{
    flex: auto;
    height:auto;
    display: flex;
    flex-direction: column;
}


#topLeftDiv > *
{
    flex: 1;
    background-color: var(--sand);
}

#topLeftDiv :last-child
{
    flex: 1;
    height:20px;
    background-color: var(--sand);
}


#logoDiv
{
    background-color: var(--sand);
    flex: 0;

    padding: 0.5em 1.6rem 0.4rem 1.5rem;
    margin:0;
}

.colabBox
{
    position:relative;
    z-index: 1;
    margin: auto;
    margin-bottom: 1em;
    width: 98%;
}

.colabTitle
{
    
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0.7rem;
    left: 0.3rem;
    background-color: rgba(0, 0, 0, 0.726);
    padding: 0.6rem 2rem;
    font-size: min(1.2rem, 2.8vw);
}

.colabTitle > strong
{
    font-size: min(1.6rem, 3.4vw);
}
/*
.topbox
{
    height: var(--logo-height);
    width: calc(var(--logo-height)*1.5);
    margin-left: auto;
    display:flex;
}
*/



a
{
    color:inherit;
}


.logo
{
    /*-webkit-filter: invert(100%);*/
    height:var(--logo-height);
    padding: 0.1em
}

.embed-container {
    padding:40.05% 0 0 0;
    position: relative;
    margin-bottom: 0.5em;
  }
   
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.simplegrid
{

    font-family: 'Helv Heavy';
    display:grid;
    grid-auto-flow: column;
    /*overflow-x: scroll;*/
    gap: 0.6rem;
    /*background-color: white;*/

    height: 6rem;
}

.simplegrid + .simplegrid
{
    padding: 0.5em;
}



.parralaxImage1
{
    background-image: url("stills/midori/adidas_03-1.jpg");
    min-height: 10em;
    /*background-attachment:20px;*/
    /*background-position: left;*/
    background-repeat: repeat;
    background-size:contain;
}

.simpleSec
{
    background-color: transparent;
    /*background-image: linear-gradient(to right, transparent 30%, rgba(238, 232, 217, 0.6));*/
    padding:0;
}

.boxContainer
{
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxContainer div
{
    background-color: rgb(255, 255, 255, .1);
    background-color: rgba(0, 0, 0, 1);
    padding: 0.2rem 0.7rem;
    padding-top: 0.4rem;
    margin: 0.2rem;

    font-family: 'Helv Heavy';
    font-size: 1em;
}




.cellContainer {
    display: flex;
    flex-wrap: wrap;

    color: white;
    font-size: 0.64em;
}

.cellContainer div
{
    min-width: 150px;
    display: flex;
    flex-direction: column;
    flex: 0 25%;

}

.cellContainer div div
{
    position: relative;

    flex-direction: column;
    flex: 0;
}

.cellContainer div div:last-of-type
{
    flex: 1;
    padding: 1em;
}

.cellContainer div div:first-of-type img
{
    position: absolute;
    max-height:95%;
    max-width:90%;
    left:0;
    right:0;
    bottom:-1em;
    margin: auto auto;
    z-index: 1;
}

.cellContainer div div:first-of-type img:first-of-type
{
    position: relative;
    object-fit: cover;
    bottom:auto;
    max-width: 100%;
    width:100%;
}

.HOWCont {
    display: flex;
    flex-direction: row;
    z-index: 1;
    width:80%;
    margin-left: 20%;
    font-size: 0.65em;
    color:white;
}

.HOWCont img:first-of-type {
    position: absolute;
    left:0;
    top:10%;
    height:80%;
    max-height: 500px;
    top: calc((100% - min(400px, 80%))/2);
    z-index: 0;
    opacity: 100%;
}

#HOWVert {

    writing-mode:vertical-lr;
    transform: rotate(180deg);
    margin:0;
    padding:0;
    color:black;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
}

.HOWRows {

    display: flex;
    flex-direction: column;
}

.HOWItem {

    display: flex;
    flex-direction: row;
    z-index: 1;
}

.HOWItem div {
    flex: 1;
    padding:1em;
}

.HOWItem div:first-of-type {
    min-width:7em;
    
    flex: 0.1;

    display: flex;
    align-items: center;
}

@media only screen and (max-width: 800px) {

    .inset { padding: 1em; }
    
    .cellContainer div {
        flex: 0 50%;
    }

    .leftbox, .rightbox {
       min-width:90%;
    }

    .HOWCont {
        width:90%;
        margin-left: 10%;
    }

    .HOWItem {
        flex-direction: column;
    }


}