/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');
*/

@font-face
{
    font-family:'Helv Medium';
    src: url('font/HelveticaNeue-Medium.otf');
}

@font-face
{
    font-family:'Helv Heavy';
    src: url('font/HelveticaNeue-Heavy.otf');
}

@font-face
{
    font-family:'Helv Roman';
    src: url('font/HelveticaNeue-Roman.otf');
}

:root
{
    --logo-height: 70px;
    --blue: #B2DBE7;
    --pink: #FDCDCA;
    --orange: #F9996A;
    --yellow: #FEE881;
    --sand: rgba(238, 232, 217,1);
    --sandText: rgba(238, 232, 217,1);
}

html, body
{
    /*overflow-y: scroll;*/
    overflow-x: hidden;
    background-color: var(--sand);
    background-position: center;
    background-image: linear-gradient(rgba(128,132,138,.97), rgba(98, 101, 105, 0.959), rgba(0,0,0,.97), rgb(0,0,0,1))
    ,url("logo/tile.png");;
    /*
    background-image: 
    linear-gradient(rgba(247, 148, 148, 0.9),rgba(89, 170, 190, 0.9),rgba(29, 55, 61, 0.9),rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95), rgba(9, 19, 63, 0.95)), 
    url("logo/tile.png");
    */
}

body
{
    font-family: 'Helv Roman';
    margin: 1em auto;
    
    /*background-blend-mode:difference;*/
    max-width: min(95%, 800px);
}

h1, h2, h3, strong
{
    font-family: 'Helv Heavy';
}

h1
{
    font-size: 2.2rem;
}

h2
{
    font-size: 1.5rem;
}

h3
{
    font-size: 1.2rem;
}

p
{
    margin-bottom:4rem;
}

section
{
    font-size: 1.2rem;
    background-color:var(--sand);
    padding: 0.8em 1em 0.8em;
    margin-bottom: 0.5em;
    overflow-y: hidden;
    /*overscroll-behavior: contain;*/
}

li
{
    margin-bottom: 1em;
}

.secdark
{
    color: var(--sandText);
    background-color:rgba(22, 22, 22, 0.5);
}


strong
{
    font-size: 1.4em;
}

#topDiv
{
    gap: 0.4rem;
    display: flex;
}

#topLeftDiv
{
    flex: auto;
    height:auto;
    display: flex;
    flex-direction: column;
}


#topLeftDiv > *
{
    flex: 1;
    background-color: var(--sand);
}

#topLeftDiv :last-child
{
    flex: 1;
    height:20px;
    background-color: var(--sand);
}


#logoDiv
{
    background-color: var(--sand);
    flex: 0;

    padding: 0.5em 1.6rem 0.4rem 1.5rem;
    margin:0;
}

.colabBox
{
    position:relative;
    z-index: 1;
    margin: auto;
    margin-bottom: 1em;
    width: 90%;
    
}

.colabTitle
{
    
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0.7rem;
    left: 0.3rem;
    background-color: rgba(0, 0, 0, 0.726);
    padding: 0.6rem 2rem;
    font-size: min(1.2rem, 2.8vw);
}

.colabTitle > strong
{
    font-size: min(1.6rem, 3.4vw);
}
/*
.topbox
{
    height: var(--logo-height);
    width: calc(var(--logo-height)*1.5);
    margin-left: auto;
    display:flex;
}
*/



a
{
    color:inherit;
}


.logo
{
    /*-webkit-filter: invert(100%);*/
    height:var(--logo-height);
    padding: 0.1em
}

.embed-container {
    padding:40.05% 0 0 0;
    position: relative;
    margin-bottom: 0.5em;

  }
   
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.simplegrid
{

    font-family: 'Helv Heavy';
    display:grid;
    grid-auto-flow: column;
    /*overflow-x: scroll;*/
    gap: 0.6rem;
    /*background-color: white;*/

    height: 6rem;
}

.simplegrid + .simplegrid
{
    padding: 0.5em;
}



.parralaxImage1
{
    background-image: url("stills/midori/adidas_03-1.jpg");
    min-height: 10em;
    /*background-attachment:20px;*/
    /*background-position: left;*/
    background-repeat: repeat;
    background-size:contain;
}

.simpleSec
{
    background-color: transparent;
    /*background-image: linear-gradient(to right, transparent 30%, rgba(238, 232, 217, 0.6));*/
    padding:0;
}
